h1= title
p Welcome to #{title}
#twitter-form
	form(method= 'post', action= '/twitter')
		fieldset
			legend Twitter
			ul
				li
					label(for= 'twitter_username') enter your Twitter username
					input(name= 'twitter_username', type= 'text')
				li
					input#twittersubmit(type ='submit', value= 'Get twitter profile')
	form(method= 'post', action= '/facebook')
		fieldset
			legend Facebook
			ul
				li
					label(for= 'facebook_username') enter your Facebook username
					input(name= 'facebook_username', type= 'text')
				li
					input#twittersubmit(type ='submit', value= 'Get Facebook profile')
	form(method= 'post', action= '/linkedin')
		fieldset
			legend Linkedin
			ul
				li
					label(for= 'linkedin_username') enter your Linkedin username
					input(name= 'linkedin_username', type= 'text')
				li
					input#twittersubmit(type ='submit', value= 'Get linkedin profile')
					
